In [1]:
# código para permitir acesso ao meu google drive, assim poderei importar os dados, sem precisar fazer upload
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [2]:
import pandas as pd 
caminho = '/content/gdrive/MyDrive/Colab Notebooks/IA expert /Estatística para ciência de dados/exercícios/census.csv'
data = pd.read_csv(caminho)
data.head(3)

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K

In [3]:
# Média de Idade
data['age'].mean()

38.58164675532078

In [15]:
import statistics
from scipy.stats.mstats import hmean
# Média Harmônica
hmean(data['age'])

33.91874139089839

In [6]:
#Média geométrica 
from scipy.stats.mstats import gmean
gmean(data['age'])

36.210879158177256

In [10]:
#Média Quadrática
import math
def quadratic_mean(dados):
  return math.sqrt(sum(n * n for n in dados) / len(dados))
quadratic_mean(data['age'])

40.9218664329987

In [11]:
#Mediana da idade
data['age'].median()

37.0

In [16]:
# Moda da idade 
statistics.mode(data['age'])

36